.parent1{
    width:100px;
    height:100px;
    background-color:aqua;
    position:absolute;
    top:50%;
    left:50%;
    border-top-right-radius: 50px 30px;
    border-bottom-left-radius: 30px 50px;
    box-shadow: 20px 10px 10px #c9cecc ;
}
*{
   box-sizing: border-box;

}
.parent{
    overflow:hidden;
}
.one{
   width:calc(96%/2);
   padding:10px;
   height:60px;
   margin:1%;
   float:left;
   background-color:gray ;
}


