/*
selector {
    proparty: value;
    proparty-two: value;
} 
 */


 p{
     color:red;
     font-size:20px;

 }
 .second{
     color:green;
     font-size:24px;

 }
 #third{
     color:blue;
     font-size:28px;
 }
